streamlit==1.42.0
pandas==2.2.3
pillow==11.1.0
PyPDF2==3.0.1
reportlab==4.3.1
pdf2image==1.17.0
fpdf==1.7.2
python-docx>=0.8.11
python-pptx==1.0.2
pdf2docx==0.5.8
PyMuPDF==1.25.3
openpyxl>=3.1.0
tabula-py==2.7.0
pytesseract
opencv-python-headless
